@font-face {
  font-family: Roboto; /* set name */
  src: url(../assets/fonts/Roboto-VariableFont_wdth\,wght.ttf); /* url of the font */
}

@font-face {
  font-family: JetBrainsMono; /* set name */
  src: url(../assets/fonts/JetBrainsMono[wght].ttf); /* url of the font */
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-surface);
}

::-webkit-scrollbar-thumb {
  background: var(--color-text-muted);
  border-radius: 4px;
  border: 2px solid var(--color-surface);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-text);
}

:root {
  /* fonts */
  font-family: Roboto;

  /* colors */
  --bg-dark: #121216;
  --surface-dark: #181a1d;

  /* shadows */
  --card-shadow: 0 0 3px var(--color-text-muted);
}
